extends ../_template

block variables
  - var title = 'About'

block content
    section.section.hero
        .hero__bg
            img(src="img/bg/portfolio.jpg").hero__bg-img
        block socials
            include  ../common/_social     
            
        a(href="#").page-down
            img(src="img/icons/icon/arrow_down.svg", alt="").page-down__icon
        
        .hero__title
            img(src="img/icons/icon/portfolio_header.svg", alt="").section-title
            .user.hero__user-block
                .user__photo
                    .user__photo-avatar
                        img(src="img/avatars/me2.jpg", alt="").user__photo-img
                .user__name Шелгунов Александр
                .user__desc Личный сайт веб разработчика
                    
    section.section.about
        .about__left
            svg(
                viewbox="0 0 1000 100" 
                preserveAspectRatio="none"
                class="triangle triangle_fill_white about__triangles")
                polygon(points="0,0 0,100 1000,100")

            .title.about__section-title
                | Обо мне
            .user-about
                .user-about__picture
                    img(src="img/avatars/me1.jpg", alt="")
                .user-about__title.subtitle 
                        | Кто я
                .user-about__text
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .about__right
            svg(
              viewbox="0 0 1000 100" 
              preserveAspectRatio="none"
              class="triangle triangle_fill_beige about__triangles")
              polygon(points="0,100 1000,100 1000,0")
                
                .about-data
                    .about-data__desc.about-user-info
                        .about-data-info__title
                            .subtitle Чем я могу быть вам полезен
                        .about-user-info__text
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .about-data__content
                        ul.skills
                            each skill in skills
                                each skillsArray, skillName in skill
                                    li.skills__item
                                        .skill-section
                                            .skill-section__title= skillName
                                            ul.skill-section__list
                                                each skillTitle in skillsArray
                                                    li.skill-section__item
                                                        .skill
                                                            svg(viewBox='0 0 110 110').skill__circle
                                                                <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"/> 
                                                                <circle r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-15"/> 
                                                            .skill__name=  skillTitle
    section.section.map
        .map__map
        .contacts
            .subtitle.contacts_title Контакты
            ul.contacts__list
                li.contacts__item
                    a(href="skype:shell686?call").contacts__link
                        i.fa.fa-skype
                        | shell686
                li.contacts__item
                    a(href="mailto:casual686@gmail.com").contacts__link
                        i.fa.fa-envelope
                        | Casual686@gmail.com
                li.contacts__item
                    a(href="skype:+7985886-64-96?call").contacts__link
                        i.fa.fa-phone
                        | +7 (985) 886-64-96
                li.contacts__item
                    a(href="#").contacts__link
                        i.fa.fa-map-marker
                        | г. Москва
        
    block footer
        include ../common/_footer
